* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #020617, #0f172a);
    color: #e5e7eb;
    line-height: 1.6;
}

/* HERO */
.title {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 5px 5px 4px linear-gradient(135deg, #38bdf8, #0ea5e9);
    background: linear-gradient(135deg, #020617, #0f172a);
    padding: 10px;
    width: auto;
    border-bottom: 2px solid #38bdf8;
}

.hero_header {
    min-height: 100vh;
    background: linear-gradient(135deg, #020617, #0f172a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.reveal {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


.hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.align_hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.align_hero h1,
.align_hero p,
.align_hero h3 {
    max-width: 600px;
    text-align: left;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 600;
}

.hero p {
    margin-top: 10px;
    color: #94a3b8;
    display: flex;
    flex-direction: column;
}

.profile-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(135deg, #38bdf8, #0ea5e9);
    box-shadow: 0 0 30px rgba(56, 189, 248, 0.4);
    margin-bottom: 25px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: #020617;
}

/* SECTIONS */
.section {
    display: flex;
    padding: 80px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.section p {
    color: #cbcdd2;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.bg-dark {
    background: #020617;
}

/* SKILLS */
.skills {
    display: flex;
    gap: 25px;
    /* espaço entre os itens */
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.skills a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    /* espaço entre ícone e texto */
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.skills li {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #1e293b;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-size: 18px;
}

.skills i {
    font-size: 90px;
    margin-bottom: 8px;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e293b;
}

.card h3 {
    margin-bottom: 10px;
}

.card span {
    display: block;
    margin: 10px 0;
    font-size: 0.85rem;
    color: #94a3b8;
}

.links a {
    text-decoration: none;
    margin-right: 15px;
    color: #011a8d;
    font-weight: 500;
}

/* CONTACT */

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 60px;
}

.contato h2 {
    color: #e5e7eb;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.contato p {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact a:hover i {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.contact a i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #264dfc;
    background-color: #020617;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    background: #000000;
    font-size: 0.9rem;
    color: #64748b;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .hero h1 {
        font-size: 2.2rem;
    }
}